﻿@model Post_it.Models.SlideModel

@{
    ViewBag.Title = "Create Slide";
}

    <h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Add Slides</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.slideFilePath )
                @Html.TextBoxFor(m => m.slideFilePath)
            </li>
        </ol>
        <input type="submit" value="Add Slide" class="button"/>
    </fieldset>
}