﻿@model Post_it.Models.PostItModel

    <h2>Créez un nouveau compte.</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Add Post It Message</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PostItMessage )
                @Html.TextBoxFor(m => m.PostItMessage)
            </li>
            <li>
                @Html.LabelFor(m => m.Author )
                @Html.TextBoxFor(m => m.Author)
            </li>
        </ol>
        <input type="submit" value="Add Message" class="button"/>
    </fieldset>
}