﻿@model Post_it.Domain.Common.Slide

@{
    ViewBag.Title = "Delete Slide";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Slide</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheminDeLaSavXML)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheminDeLaSavXML)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="DeleteSlide" class="button"/> |
        @Html.ActionLink("Back to List", "Slides")
    </p>
}
