﻿@model Post_it.Domain.Common.PostItMessage

@{
    ViewBag.Title = "Delete Post It";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post It</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="DeletePostIt" class="button"/> |
        @Html.ActionLink("Back to List", "PostItMessage")
    </p>
}
