﻿@model IEnumerable<Post_it.Domain.Common.PostItMessage>

@{
    ViewBag.Title = "Message saved in Database";
}
<h3>@ViewBag.Tile</h3>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Remove", "DeletePostIt", new { id=item.ID })
        </td>
    </tr>
}



</table>
