﻿@model IEnumerable<Post_it.Domain.Common.Slide>

@{
    ViewBag.Title = "Slide Saved in Database";
}

<h3>@ViewBag.Title</h3>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JSONData)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JSONData)
        </td>
           <td>
            @Html.ActionLink("Remove", "DeleteSlide", new { id=item.ID })
        </td>
    </tr>
}



</table>
