﻿
<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/tiny_mce")
        @Scripts.Render("~/bundles/libXMLScripts")
        @Scripts.Render("~/bundles/libSignalR")
   
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo.png" alt="" />
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li class="menuButton">@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (User.Identity.Name.Equals("admin")) 
                            { 
                                <li>@Html.ActionLink("Presentator", "Slide", "Home")</li>
                                <li>@Html.ActionLink("SlideEditor","SlideEditor","Home")</li>
                                <li>@Html.ActionLink("Administration","Index","Admin")</li> 
                                
                            }else{
                                <li> @Html.ActionLink("Spectator","Index","Client")</li> 
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

       
        @RenderSection("scripts", required: false)
    </body>
</html>
