﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">@ViewBag.Title</h1>
    <h2 class="error">Error during query process. Check your informations and try again</h2>
</hgroup>
