﻿<h1>Spectator</h1>


<div class="slideShowing" style="height: 500px; width:100%; background: white;"></div>

<script src="../Scripts/jquery-1.6.4.min.js" > </script>
<script src="../Scripts/jquery.signalR-1.0.0-rc2.js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript">

    $(function () {
        // Declare a proxy to reference the hub. 
        var chat = $.connection.chatHub;
      
        // Méthode qui sera appelé par le serveur
        chat.client.broadcastMessage = function (name, message) {
            var encodedMsg = $('<div />').text(message).html();
            $('.slideShowing').empty();
            // Add the message to the page.
            $('.slideShowing').append(message);
        };

        $.connection.hub.start().done(function () {   
            });

    });

</script>@*  *@







































