﻿@model IEnumerable<Post_it.Domain.Common.Slide>

<select class="mypresentation">
@foreach (var item in Model) {
    var presentation = @Json.Decode(item.JSONData);
    <option value="@item.ID">@presentation.title</option>      
}
</select>






























