﻿@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>
<h1>What is Post-it ?</h1>
<p></p>
<h1>How to make a presentation ?</h1>
<p></p>
<h1>How to edit a presentation ?</h1>
<p></p>
<h1>How to attend to a presentation ?</h1>
<p></p>
