﻿@{
    ViewBag.Title = "Welcome on Brig Your Own Slides";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1 id="defileTitle">@ViewBag.Title.</h1>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
    <script type="text/javascript">
       
        

    </script>
}
<h3 style="color:darkorange">Who are you ?</h3>
<ol class="round">
    <li class="one">
        <h5>Speaker</h5>
        Please log in and choose create or play a presentation.
    </li>

    <li class="two">
        <h5>Viewer without Post-it</h5>
        If you want to spectate the presentation without the possibility of posting messages.
        Click on "Spectator"
    </li>

    <li class="three">
        <h5>Viewer with Post-it</h5>
        If you want to spectate the presentation with the possibility of posting messages.
        Please log in and click on "Spectator"

    </li>
</ol>
