﻿@{
    ViewBag.Title = "SlideEditor";
}
<style>
    .bodySlideEditor
    {
        width: 950px;
        height: 500px;
        background-color:blue;
    }
    .leftColumnSlideEditor
    {
        width: 150px;
        height:100%;
        overflow: auto;
        background-color:greenyellow;
        float:left;
    }
    .rightColumnSlideEditor
    {
        width:800px;
        background-color : orange;
        height:100%;
        float:left;
    }
    .inputTextSlide
    {
        width:600px;
        height:250px;
        margin-left:100px;
        margin-top: 100px;
    }
    .inputTitle {
        width: 600px;
    }
    .globalInformationPresentation {
        background-color: blueviolet;
    }
    .labelInputTitlePresentation
    {
        margin-left:10px;
        margin-right:10px;
    }
    .addSlideButton {
        margin-left: 25px;
    }
    .bottomContentEditor
    {
        background-color : rgb(243, 97, 97);
        width: 950px;
    }
    #savePresentation {
        margin-left:50px;
        margin-right:50px;
        width:850px;
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="bodySlideEditor">

    <div class="leftColumnSlideEditor">
        @Html.Partial("SlideManager")
    </div>
    <div class="rightColumnSlideEditor">
        <div class="globalInformationPresentation">
            <span class="labelInputTitlePresentation">Presentation name :</span>
            <input type="text" id="titlePresentationInput" class="inputTitle" />
        </div>
        <textarea id="elm1" name="elm1" rows="15" cols="80" style="width: 80%"></textarea>
        <div class="bottomEditor">
            <button id="deleteSlide" class="button">Delete Slide</button>
        </div>
    </div>
</div>
<div class="bottomContentEditor">
    <button id="savePresentation" class="button">Save Presentation</button>
</div>


<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

        setup: function (ed) {
            ed.onChange.add(function (ed, e) {
                manageContentSlide();
            });
        }

    });
   
</script>