﻿@{
    ViewBag.Title = "SlideManager";
}
<style>
    .bodySlideManager
    {
        width:150px;
        overflow:hidden;
    }
    .elementSlide
    {
        width:96px;
        background-image:url("../Images/slideIcon.png");
        height:96px;
        margin-left: 25px;
        margin-top: 10px;
    }
    .slideSelected
    {
           background-color : rgba(3, 3, 3, 0.55);
    }
    .numberSlide
    {
        padding-left: 45px;
        padding-top: 40px;
    }
    .overlaySlide
    {
        background-color : black;
    }

    #elm1_tbl
    {
        margin-left : 10%;
        margin-top : 50px;
    }
</style>
<div class="bodySlideManager">
    <button class="addSlideButton button">Add Slide</button>
    <div class="listSlides">

    </div>


</div>

<script type="text/javascript">
    
    var slideContents = new Array();

    $(document).ready(function () {
        
        addNewSlide(true);

        //Methode d'envoi de l'ensemble de la presentation pour une sauvegarde
        $('#savePresentation').click(function () {
           // alert(slideContents.length);

            var presentation = new Object();
            presentation.title = $('#titlePresentationInput').val(),
            presentation.slides = slideContents

           // alert(JSON.stringify(presentation));

            $.ajax({
                url: '@Url.Action("Save","SlideEditor")',
                  type: 'POST',
                  traditional: true,
                  data: JSON.stringify(presentation),
                  dataType: 'json',
                  contentType: 'application/json; charset=utf-8',
                  error: function (xhr) {

                      alert('Error: ' + xhr.statusText);
                  },
                  success: function (result) {
                      //CheckIfInvoiceFound(result);
                      alert(result);
                  },
                  async: true,
                  processData: false
           });
        });
    });

    
    $('.addSlideButton').click(function () {
        addNewSlide(false);
    });
   
    //Methode d'ajout d'un slide dans la presentation
    function addNewSlide(selected) {
        if (selected) {
            //ici si le slide doit etre affiché selectionné
            $(".listSlides").append('<div class="elementSlide slideSelected" slideNumberAttr="' + slideContents.length + '"><div class="numberSlide">' + slideContents.length + '</div></div>');
        } else {
            $(".listSlides").append('<div class="elementSlide" slideNumberAttr="' + slideContents.length + '"><div class="numberSlide">' + slideContents.length + '</div></div>');
        }
        
        
        slideContents.length += 1;

        $(".elementSlide").last().click(function () {
            $(".elementSlide").removeClass('slideSelected');
            $(this).addClass('slideSelected');
            tinyMCE.activeEditor.setContent('');
            tinyMCE.activeEditor.setContent(slideContents[$('.slideSelected').attr('slideNumberAttr')]);
        });

    }

    function manageContentSlide() {
        slideContents[$('.slideSelected').attr('slideNumberAttr')] = tinyMCE.activeEditor.getContent();
       
    }

   
</script>@*  *@

